<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
       <p><%= link_to "Edit", edit_user_path(@user) %></p>
       <p><%= link_to "See all users", users_path %></p>
    </section>
  </aside>
</div>