<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
       <div class="user_options">
         <span><%= link_to "Edit", edit_user_path(@user) %></span> </br>
         <span><%= link_to "See all users", users_path %></span> </br>
         <span><%= link_to "Create an article", new_article_path %></span> </br>
       </div>
    </section>
  </aside>
</div>
